.board-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
  aspect-ratio: 1/1;
  max-width: 600px;
  margin: 1rem auto 0;
}

.board-cell {
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
  min-height: 80px;
  transition: border-radius ease-in-out 150ms;
}

.board-cell.active-cell {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: var(--main-color);
  border-radius: 100%;
  color: white;
  /* font-weight: 600; */
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 5px auto;
  width: 100%;
}

.shuffle {
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.7s 2 cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

/* Media queries */

/* Media query for screens between 360px and 469px wide */
@media screen and (min-width: 360px) and (max-width: 469px) {
  .content {
    width: 100%;
  }
  .board-grid {
    font-size: 11px;
    gap: 0;
    aspect-ratio: unset;
  }
  .board-cell {
    border-radius: 0;
    overflow-wrap: break-word;
    border-width: 1px;
    width: 100%;
    padding: 2px;
    border: 1px solid #fff;
    font-size: 12px;
  }
  .board-cell.active-cell {
    border-radius: 10px;
  }
  .buttons {
    /* font-size: 13px; */
    gap: 1rem;
    text-align: center;
  }

  .buttons h3 {
    font-size: 14px;
  }
}

/* Media query for screens between 470px and 599px wide */
@media screen and (min-width: 470px) and (max-width: 599px) {
  .board-grid {
    font-size: 11px;
    aspect-ratio: unset;
  }
}

/* Media query for screens between 600px and 767px wide */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .board-cell {
    padding: 2px;
    min-height: unset;
  }
  .board-grid {
    gap: 2px;
  }

  .board-cell {
    border-width: 1px;
  }
}
/* Media query for screens between 768px and 1024px wide */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
