.board {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 30px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.board h2,
.board p {
  text-align: left;
  flex-grow: 1;
}

.board .cells-list {
  max-height: 150px;
  overflow: auto;
  display: block;
}

.board .tags-list {
  justify-content: center;
  margin: 10px;
}

.close,
.edit {
  cursor: pointer;
  border: none;
  background: none;
}

.board .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.board .edit {
  top: 10px;
  left: 15px;
  position: absolute;
}

.close {
  position: relative;
}
