.board-item {
  margin: 10px 0;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8c8c8c;
  /* border-radius: 10px; */
  /* border: 2px solid black; */
  justify-content: space-between;
  text-align: left;
}

/* .board-item h2, */
.board-item p {
  text-align: left;
  margin-right: 2rem;
  margin-left: auto;
}

.board-item .cells-list {
  max-height: 150px;
  overflow: auto;
  display: block;
}

.board-item .tags-list {
  justify-content: center;
  margin: 10px;
}

.delete,
.edit {
  cursor: pointer;
  border: none;
  background: none;
  color: #8c8c8c;
  font-size: 1.2rem;
  right: 0;
  position: absolute;
}

.board-item .delete {
  top: 20px;
  color: tomato;
}

.board-item .edit {
  bottom: 18px;
  color: seagreen;
}

/* Media queries */

/* Media query for screens smaller than 768px wide */
@media screen and (max-width: 767px) {
  .board-item {
    gap: 7px;
    padding: 20px 10px;
  }
  .board-item h2 {
    font-size: 1rem;
    display: inline-block;
  }
  .board-item p {
    text-align: right;
    flex-grow: 1;
    margin-left: 0;
  }
}
