.board-item {
  padding: 20px 25px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #f4f4f4;
  margin-bottom: 2rem;
}

.board-item .cells-list {
  max-height: 150px;
  overflow: auto;
  display: block;
}

.board-item .tags-list {
  justify-content: center;
  margin: 10px;
}

.delete,
.edit {
  cursor: pointer;
  border: none;
  background: none;
}

.play {
  margin-left: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  gap: 5px;
}

.delete,
.edit {
  color: #8c8c8c;
  font-size: 1rem;
  transition: all linear 100ms;
}

.delete:hover,
.edit:hover {
  transform: scale(130%);
}

/* Media queries */

/* Media query for screens between 360px and 599px wide */
@media screen and (min-width: 360px) and (max-width: 599px) {
  .board-item {
    gap: 7px;
    padding: 20px 10px;
    margin-bottom: 1rem;
  }
  .board-item h2 {
    font-size: 1rem;
    display: inline-block;
  }
}
/* Media query for screens between 600px and 767px wide */
@media screen and (min-width: 600px) and (max-width: 767px) {
}
/* Media query for screens between 768px and 1024px wide */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
