.bingo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  line-height: 1.4;
  overflow-y: hidden;
}

.message-container {
  flex: 1;
  width: 20rem;
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-color: #ffe0b2;
  color: #f57c00;
  position: absolute;
  top: 40%;
  border: 3px solid #f57c00;
  transform: translate(-50%, -50%);
  -webkit-animation: swirl-in-fwd 0.7s linear both;
  animation: swirl-in-fwd 0.7s linear both;
}

.confetti-container {
}

.message-title {
  display: inline-block;
  font-size: 4rem;
  z-index: 10;
  font-size: 32px;
  font-weight: bold;
}

.message-text {
  margin: 0;
  font-size: 24px;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    /* opacity: 0; */
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    /* opacity: 1; */
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    /* opacity: 0; */
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    /* opacity: 1; */
  }
}
