footer {
  padding: 1.5rem 1rem 0;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  display: flex;
  gap: 2rem;
}

footer ul li {
  font-size: 1.4rem;
  transition: color ease-in-out 300ms;
}

footer ul li:hover {
  color: #c83596;
}
