:root {
  --main-color: #724aa2;
  --light-color: #9d7dc4;
  --dark-color: #4a3465;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

input:focus {
  outline: 1px solid var(--main-color);
  box-shadow: 0 0 5px 1px var(--light-color);
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.add-field {
  display: flex;
  gap: 10px;
}

.add-field .btn {
  padding: 0 10px;
  width: 20%;
}

.add-field input {
  margin-bottom: 0;
}
.tag,
.cell {
  padding: 0 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.tag {
  font-size: 14px;
}
.error {
  color: tomato;
}
.tags-list,
.cells-list {
  display: flex;
  margin: 0 0 10px;
  max-width: 100%;
  flex-wrap: wrap;
}
