@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
  --main-color: #724aa2;
  --light-color: #9d7dc4;
  --dark-color: #4a3465;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--dark-color);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: var(--main-color);
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--main-color);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  border: 2px solid var(--main-color);
  background: #fff;
  color: var(--main-color);
  font-weight: 700;
  transition: all ease-out 200ms;
}

.btn-reverse:hover {
  transform: translate(-2px, -2px);
  transform: scale(none);
  box-shadow: 3px 3px 0px var(--main-color);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000 #f4f4f4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}

input,
select,
textarea,
button {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */

/* Media query for screens smaller than 768px wide */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 5px;
  }

  .content {
    width: 100%;
  }

  li {
    line-height: 1.5;
  }

  h2 {
    font-size: 1.2rem;
  }
  h2,
  h3 {
    margin: 5px 0;
  }
}

/* Media query for screens between 768px and 1024px wide */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* Media query for screens larger than 1024px wide */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 960px;
  }
}
