@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #c83596;
  --secondary-color: #724aa2;
  --accent-color: #faa222;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.small-screen {
  display: none;
}
h1 {
  margin: 1rem 0;
}

.error {
  color: rgb(255, 85, 125);
  font-size: 14px;
}

/* LOGO */

.logo {
  font-family: 'k2d', sans-serif;
  font-weight: 800;
  color: #444;
  display: inline-block;
}

.logo::first-letter {
  color: #c83596;
  font-size: 2rem;
}

/* WHOLE APP CONTAINER */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 600px;
  margin: 0 auto;
}

/* FORMS */

.form {
  border-radius: 10px;
  padding: 3rem;
  border: 2px solid #c83596;
  box-shadow: -5px 5px #c83596;
  max-width: 450px;
  margin: 0 auto;
}

.form p {
  text-align: center;
}

.form a:hover {
  color: #c83596;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(200, 53, 150, 0.7);
}

.add-input {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding: 0 20px;
}

.heading p {
  color: var(--main-color);
  text-align: left;
}

/* BOARD FORM */

.create .form {
  margin: 0;
  width: 100%;
}
.content.create {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cells-list {
  /* width: 50%; */
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.cell {
  background-color: #e6e6e6;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4px;
}

.cell .delete {
  position: absolute;
  top: -8px;
  right: -2px;
}
/* 
.checkbox {
  display: flex;
  gap: 7px;
} */

/* input[type='checkbox'] {
  width: unset;
  box-shadow: none;
  margin: 0;
} */

/* trying to style checkbox */

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  display: block;
  height: 20px;
  width: 20px;
  /* background-color: #c83596; */
  border: 1px solid black;
}

.checkbox label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

input:checked + label:after {
  opacity: 1;
}

/* BUTTONS */

.btn {
  align-items: center;
  appearance: button;
  cursor: pointer;
  display: flex;
  font-family: 'K2D', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  padding: 4px 20px;
  text-align: center;
}

.btn-primary {
  background: var(--main-color);
  border: 2px solid #000;
  transition: all ease-in 100ms;
  color: #fff;
}

.btn-primary:hover,
.add:hover {
  transform: scale(105%);
}

.btn-reverse {
  padding: 10px;
  border: 2px solid var(--main-color);
  background: #fff;
  color: var(--main-color);
  font-weight: 700;
  transition: all ease-out 200ms;
}

.btn-reverse:hover {
  transform: translate(2px, -2px);
  transform: scale(none);
  box-shadow: -3px 3px 0px var(--main-color);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.btn-close {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
}

.boards-list {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000 #f4f4f4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}

input,
select,
textarea,
button {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries */

@media screen and (max-width: 359px) {
  /* TODO: too small */
  .container {
    display: none;
  }
  .small-screen {
    display: block;
  }
}

/* Media query for screens between 360px and 599px wide */
@media screen and (min-width: 360px) and (max-width: 599px) {
  .container {
    margin: 0 3px;
    width: unset;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .content.create {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    font-size: 14px;
  }

  .heading {
    font-size: 1.3rem;
  }

  h1 {
    margin: 0;
  }
  .logo::first-letter {
    font-size: 1.5rem;
  }
  .headline h3 {
    font-size: 1rem;
    margin: 0 1rem 0 0;
  }
  .boards-list {
    margin: 1rem 0;
  }
  .form {
    border: none;
    box-shadow: none;
  }

  .cells-list {
    font-size: 11px;
    width: 100%;
    aspect-ratio: 1/1;
  }
}
/* Media query for screens between 600px and 767px wide */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }

  .content {
    width: 100%;
  }

  li {
    line-height: 1.5;
  }

  h2 {
    font-size: 1.2rem;
  }
  h2,
  h3 {
    margin: 5px 0;
  }
}
/* Media query for screens between 768px and 1024px wide */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding: 1rem;
  }

  .content {
    margin: 0 auto;
    width: 80%;
  }
  .create {
    width: 100%;
  }
  .cells-list {
    /* display: flex;
    flex-wrap: wrap;
    gap: 5px; */
    font-size: 12px;
    width: unset;
  }
}

/* Media Queries template */
/* Media query for screens between 360px and 599px wide */
@media screen and (min-width: 360px) and (max-width: 599px) {
}
/* Media query for screens between 600px and 767px wide */
@media screen and (min-width: 600px) and (max-width: 767px) {
}
/* Media query for screens between 768px and 1024px wide */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
